body {
    font-family: 'Lucida Console', sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.game-container {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.game-container:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #007BFF;
}

button {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0e77e6;
}
